@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: black;
    background-size: cover;
    background-position: center;
}
.link_to_pages {
    background-color: red;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    font-family: 'Mohave', sans-serif;

    }
  
  .link_to_pages:hover {
    background-color: white;
    color: black;
    border: black;
  }
  .login-page {
      width: 360px;
      padding: 10% 0;
      margin: auto;
  }
  .form {
      position: relative;
      z-index: 1;
      background: red;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      border: 2px solid red;
      border-radius: 30px;
  }
  .form input {
      outline: none;
      width: 100%;
      background: #f2f2f2;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
  }
  .form button {
      text-transform: uppercase;
      outline: 0;
      background: black;
      color: white;
      width: 100%;
      border: none;
      padding: 15px;
      font-size: 14px;
      cursor: pointer;
      transition: .5s;
  }
.form button:hover,.form button:active {
    background: white;
    border: none;
    color: black;
}
.form .message {
    margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
}
.form .message a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.register-form {
    display: none;
    
}