@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.main {
	background-color: white;
	font-family: Poppins;
	font-weight: 500px;
	padding: 0px;
	color: red;
	position: relative;
	animation-name: animateLoad;
	animation-duration: 1s;
}

@keyframes animateLoad {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* .main h1 {
	text-align: center;
}

.about-text {
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.welcome-text {
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.events-text {
	text-align: center;
}

.link_to_pages {
	margin: 0px;
	background-color: transparent;
	color: rgb(54, 90, 1);
	padding: 10px 25px;
	text-decoration: none;
	display: inline-block;
	margin: auto;
	border-radius: 15px;
}

.link_to_pages:hover {
	background-color: red;
	color: white;
	border: white;
}

.register {
	border: 2px solid;
	border-radius: 15px;
	background-color: black;
	color: white;
	padding: 10px 25px;
	text-decoration: none;
}
.register:hover {
	border: 2px solid;
	border-radius: 15px;
	background-color: white;
	color: black;
	padding: 10px 25px;
	text-decoration: none;
	border-color: black;
}

.logo {
	width: 175px;
	height: 100px;
	border-radius: 10%;
}

.logo:hover {
	width: 175px;
	height: 100px;
	border-radius: 10%;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex-direction: row;
	display: flex;
}

li {
	display: inline-block;
	margin: auto;
}

/* #preloader {
	background: #000 url(images/preloader.gif) no-repeat center;
	background-size: 15%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}

body {
	background-color: #000;
} */

/*LOADER CSS BELOW*/

.middle {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	display: block;
}

.bar {
	width: 10px;
	height: 70px;
	background: #fff;
	display: inline-block;
	transform-origin: bottom center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	/*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
	animation: loader 1.2s linear infinite;
}
.bar1 {
	animation-delay: 0.1s;
}
.bar2 {
	animation-delay: 0.2s;
}
.bar3 {
	animation-delay: 0.3s;
}
.bar4 {
	animation-delay: 0.4s;
}
.bar5 {
	animation-delay: 0.5s;
}
.bar6 {
	animation-delay: 0.6s;
}
.bar7 {
	animation-delay: 0.7s;
}
.bar8 {
	animation-delay: 0.8s;
}

@keyframes loader {
	0% {
		transform: scaleY(0.1);
		background: rgb(255, 0, 0);
	}
	50% {
		transform: scaleY(1);
		background: rgb(255, 0, 212);
	}
	100% {
		transform: scaleY(0.1);
		background: transparent;
	}
}

*{
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;
}

li, a, button {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	display: inline-flex;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;

}

logo {
	cursor: pointer;
}

.nav_link {
	list-style: none;
}

.nav-link li a {
	display: inline-block;
	padding: 0px 100px;
}

.nav_link li a{
	transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
	color: #0088a9;
}

button{
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50x;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

